fastapi
uvicorn
pymongo
python-dotenv
passlib[argon2]
pyjwt
google-auth
email-validator
langchain
pymupdf
langchain-google-genai
pypdf
langchain-text-splitters
langchain-community
python-multipart
langchain-groq
motor
cloudinary
torch
transformers
peft
numpy
pydantic
pydantic-settings
pandas
langchain_openai
openai
langchain_huggingface
sentence-transformers
pinecone
langchain-pinecone
simsimd
python-multipart
pytesseract
pdf2image
pillow
reportlab
requests
beautifulsoup4
apscheduler
pydub 
imageio-ffmpeg
